/* left Colum */
.product-list-left {
    background-color: #91add2;
    border-radius: 5px;
    border-style: solid;
    border-color: green;
}
/* right colum */
.product-list-right{
    background-color: #91add2;
    border-radius: 10px;
    border-style: solid;
    border-color: green;
}
/* id 1,8 */
.firstId{
    text-align: left;
}
/* id 2,3,7,, 9,10,17,21 */
.firstLine{
    width: 120px;
    background-color: rgb(134, 210, 226);
    border-radius: 5px;
    border-style: solid;
    border-color: green;
    position: relative;
    left: 10%;
}

/* id 4,5,6,,11,15,16,18,19,20 */
.secondLine{
    width: 100px;
    border-style: solid;
    border-color: green;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 30%;
    background-color: rgb(128, 128, 128);
    border-radius: 5px;
}
/* id 12,13,14 */
.thirdLine{
    width: 100px;
    left: 50%;
    position: relative;
    border-style: solid;
    border-color: green;
    text-align: right;
    background-color: peru;
    border-radius: 5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  